@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes grow1 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.25);
    }
  }
  
  .grow1 {
    animation: grow 0.3s ease-in-out forwards;
  }
  
  .active{
    @apply
      text-blue-600
  }